<div class="background">
  <div class="container">
    <div class="wrapper-head">
      <img class="star" src="../assets/images/icon-star.svg" alt="" />
      <h1>FAQs</h1>
    </div>
    <!-- QUESTION ONE -->
    <div
      class="question"
      (click)="toggleVisiblilty('question1')"
      (click)="toggleButtonVisibility('button1', 'button2')"
    >
      <p>What is Frontend Mentor, how will it help me?</p>
      <img
        *ngIf="buttonVisibility['button2']"
        class="minus"
        src="../assets/images/icon-minus.svg"
        alt=""
      />
      <img
        *ngIf="buttonVisibility['button1']"
        class="plus"
        src="../assets/images/icon-plus.svg"
        alt=""
      />
    </div>
    <p *ngIf="VisibilityStates['question1']" class="text">
      Frontend Mentor offers realistic coding challenges to help developers
      improve their frontend coding skills with projects in HTML, CSS and
      javaScript. It's suitable for all levels and ideal for portfolio building.
    </p>

    <!-- QUESTION TWO -->
    <div
      (click)="toggleButtonVisibility('button3', 'button4')"
      (click)="toggleVisiblilty('question2')"
      class="question"
    >
      <p>Is Frontend Mentor free?</p>
      <img
        *ngIf="buttonVisibility['button4']"
        class="plus"
        src="../assets/images/icon-plus.svg"
        alt=""
      />
      <img
        *ngIf="buttonVisibility['button3']"
        class="minus"
        src="../assets/images/icon-minus.svg"
        alt=""
      />
    </div>
    <p *ngIf="VisibilityStates['question2']" class="text">
      Frontend Mentor is a free site, however there's a paid version which
      offers more priviledges than the free one.
    </p>

    <!-- QUESTION THREE -->
    <div
      (click)="toggleButtonVisibility('button5', 'button6')"
      (click)="toggleVisiblilty('question3')"
      class="question"
    >
      <p>Can I use Frontend Mentor projects on my portfolio?</p>
      <img
        *ngIf="buttonVisibility['button6']"
        class="plus"
        src="../assets/images/icon-plus.svg"
        alt=""
      />

      <img
        *ngIf="buttonVisibility['button5']"
        class="minus"
        src="../assets/images/icon-minus.svg"
        alt=""
      />
    </div>
    <p *ngIf="VisibilityStates['question3']" class="text">
      Yes projects from Frontend Mentor can be added to your portfolio.
    </p>

    <!-- QUESTION FOUR -->
    <div
      (click)="toggleButtonVisibility('button7', 'button8')"
      (click)="toggleVisiblilty('question4')"
      class="question"
    >
      <p>How can I get help if I'm stuck on a challenge?</p>
      <img
        *ngIf="buttonVisibility['button8']"
        class="plus"
        src="../assets/images/icon-plus.svg"
        alt=""
      />
      <img
        *ngIf="buttonVisibility['button7']"
        class="minus"
        src="../assets/images/icon-minus.svg"
        alt=""
      />
    </div>
    <p *ngIf="VisibilityStates['question4']" class="text">
      There is a forum available for all users to ask questions about the
      project they are undertaking and asnswers are provided there to guide
      users.
    </p>
  </div>
  <img
    class="image"
    src="../assets/images/background-pattern-desktop.svg"
    alt=""
  />
</div>
